<?xml version="1.0" encoding="utf-8"?>
<!--
    Copyright 2011 Google Inc. All Rights Reserved.

    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
-->
<web-app xmlns:xsi="http://www.w3.org/2001/xmlschema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    xsi:schemalocation="http://java.sun.com/xml/ns/javaee
                        http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    version="2.5">

    <init-param>
      <!-- speed up initial Jersey loading by deactivating WADL -->
      <param-name>com.sun.jersey.config.feature.DisableWADL</param-name>
      <param-value>true</param-value>
  </init-param>
    
  <servlet>
      <servlet-name>rest</servlet-name>
      <servlet-class>
        com.sun.jersey.spi.container.servlet.ServletContainer
      </servlet-class>
      <init-param>
          <param-name>com.sun.jersey.config.property.packages</param-name>
          <!-- Enter your Jersey resources to speed up initial Jersey loading -->
          <!-- You can separate the java packages using , -->
          <param-value>org.openintents.cloudsync.rest</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

  <servlet-mapping>
     <servlet-name>rest</servlet-name>
     <url-pattern>/*</url-pattern>
  </servlet-mapping> 
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>CloudSync.html</welcome-file>
  </welcome-file-list>

  <!-- RequestFactory Servlet -->

  <servlet>
    <servlet-name>requestFactoryServlet</servlet-name>
    <servlet-class>com.google.web.bindery.requestfactory.server.RequestFactoryServlet</servlet-class>
    <init-param>
      <param-name>symbolMapsDirectory</param-name>
      <!-- You'll need to compile with -extras and move the symbolMaps directory
           to this location if you want stack trace deobfuscation to work -->
      <param-value>WEB-INF/classes/symbolMaps/</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>requestFactoryServlet</servlet-name>
    <url-pattern>/gwtRequest</url-pattern>
  </servlet-mapping>

  <!-- Other servlets -->

  <servlet>
    <servlet-name>dataMessagingServlet</servlet-name>
    <servlet-class>
      com.google.android.c2dm.server.C2DMRetryServlet
    </servlet-class>
  </servlet>
    
  <servlet-mapping>
    <servlet-name>dataMessagingServlet</servlet-name>
      <url-pattern>/tasks/c2dm</url-pattern>
  </servlet-mapping>

  <!-- Security -->

  <!--  Require user login for the .html welcome page -->
  <security-constraint>
    <web-resource-collection>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>*</role-name>
    </auth-constraint>
  </security-constraint>

  <!--  Require admin role for the tasks servlet -->
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>tasks</web-resource-name>
      <url-pattern>/tasks/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>

</web-app>
