body {
	background-color: #000000;
	color: #fff;
	font-family: Droid Sans, Arial, Deja Vu Sans, Sans;
}

a, a:visited {
	color: #fff;
}

hr {
	color: #555555;
	border-color: #555555;
	border: 1px sold #555555;
	background-color: #555555;
}

#header, .navbar-inner {
	padding-top: 0px;
	background-color: #000000;
	color: #fff;
	border-bottom: 1px solid #33b5e5;
	margin-bottom: 1px;
	border-radius: 0px;
	background-image: none;
}


#menu ul {
	font-size: 11px;
	border: 1px solid #171717;
	/*background-color: #555555;*/
}

#menu ul li {
	padding: 5px;
	list-style: none;
	z-index:500; 
	margin:0 1px;
	border-bottom: 1px solid #33b5e5;
}

#menu ul li:hover {
	background-color: #33b5e5;
}

#menu ul > li:last-child {
	border-bottom: 0px;
}

#menu ul li a {
	padding:8px 5px 0 5px; 
	font-weight:700;  
	height:23px; 
	text-decoration:none; 
	color:#fff; 
	text-align:center;
	display: block;
}

#menu img {
	margin-top: 2px;
}

#menu a {
	outline: none;
}

#menu-mobile ul {
	border-top: 1px solid #555555;
}

#menu-mobile ul li {
	list-style: none;
	padding: 10px;
	margin: 0;
}

#menu-mobile ul li:hover, #menu-mobile ul li:active {
	background-color: #0d0d0d;
}

#menu-mobile ul li a {
	display: block;
}

#menu-mobile a:hover {
	color: #f8f8f8;
	text-decoration: none;
}

#wrap-content {
	background-color: #0d0d0d;
	position: relative;
	padding: 1em 0 0;
}

#nav {

	margin-left: 0;
	border-right: 1px solid #2e2e2e;
	border-left: 1px solid #2e2e2e;
	position: absolute;
	top: 0;
	bottom: 0;
	
	background: rgb(0,0,0); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY0JSIgc3RvcC1jb2xvcj0iIzEzMTYxOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxOTE5MTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(19,22,25,1) 64%, rgba(25,25,25,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(100%,rgba(19,22,25,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(19,22,25,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(19,22,25,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(19,22,25,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(19,22,25,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#191919',GradientType=0 ); /* IE6-8 */
}

.null {
	background: rgb(0,0,0); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjYxJSIgc3RvcC1jb2xvcj0iIzEyMTUxOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(18,21,24,1) 61%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(61%,rgba(18,21,24,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(18,21,24,1) 61%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(18,21,24,1) 61%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(18,21,24,1) 61%); /* IE10+ */
	background: linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(18,21,24,1) 61%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#121518',GradientType=0 ); /* IE6-8 */
}

#nav img {
	vertical-align: middle;
	margin-right: 1em;
}

#nav ul li {
	min-height: 3em;
	border-bottom: 1px solid #2e2e2e;
	margin: 0;
	list-style: none;
}

#nav ul li a, #nav ul li a:visited {
	color: #fff;
	font-weight: bold;
}

#nav ul li:hover {
	background-color: #177bdd;
}

#content .btn {
	border-radius: 4px;
}


#content h1, #content h2, #content h3, #content h4 {
	border-bottom: 1px solid #555555;
}

#content table {
	color: #111;
}

#content table a, table a:visited {
	color: #a1a1a1;
	text-decoration: none;
}

#content table a:hover {
	color: #fff;
}

#table-launchers {
	border-radius: 5px;
	background-color: #1f1f1f;
}

#table-launchers td {
	
}

#table-launchers td a {
	display: block;
	padding: 10px;
	border-radius: 5px;
}

#table-launchers td a:hover {
	background-color: #000000;
}

#footer, #push {
	background-color: #000000;
	border-color: #111;
}

#menu .dropdown-menu:after {
	border-bottom: 6px solid #555;
}


/*#nav .nav-active a {
	background-color: #177bdd;
}*/

.nav > li > a:hover {
	background-color: transparent;
}

.table-list a {
	outline: none;
}

.table-list thead tr {
	border-bottom: 1px solid #33B5E5;
	color: #fff;
}

.table-list tbody tr, .table-hide {
	background-color: #26242A;
	color: #fff;
}

.table-list-active {
	border-left: 5px solid #33B5E5;
	border-bottom: 1px solid #555555;
	outline: none;
}

a .table-list-active, a:visited .table-list-active {
	color: #fff !important;
	
}

.btn-custom { 
background-color: hsl(0, 0%, 16%) !important; background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5b5b5b", endColorstr="#282828"); background-image: -khtml-gradient(linear, left top, left bottom, from(#5b5b5b), to(#282828)); background-image: -moz-linear-gradient(top, #5b5b5b, #282828); background-image: -ms-linear-gradient(top, #5b5b5b, #282828); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5b5b5b), color-stop(100%, #282828)); background-image: -webkit-linear-gradient(top, #5b5b5b, #282828); background-image: -o-linear-gradient(top, #5b5b5b, #282828); background-image: linear-gradient(#5b5b5b, #282828); border-color: #282828 #282828 hsl(0, 0%, 11%); color: #fff !important; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33); -webkit-font-smoothing: antialiased; 
}